# Phase-4 Convert all values to numerical (get_dummies)

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import warnings;
warnings.filterwarnings("ignore")
import re
pd.set_option("display.max_columns",None)

In [2]:
auto = pd.read_csv('auto_scout_outlier.csv')
df= auto.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               15915 non-null  object
 1   body_type                15915 non-null  object
 2   price                    15915 non-null  int64
 3   vat                      15915 non-null  object
 4   km                       15915 non-null  float64
 5   prev_owner               15915 non-null  float64
 6   hp                       15915 non-null  float64
 7   inspection_new           15915 non-null  int64
 8   warranty                 15915 non-null  float64
 9   body_color               15915 non-null  object
 10  paint_type               15915 non-null  object
 11  nr_of_doors              15915 non-null  float64
 12  nr_of_seats              15915 non-null  float64
 13  gearing_type             15915 non-null  object
 14  displacement             15915 non-null  float64
 15  cylinders                15915 non-null  float64
 16  weight                   15915 non-null  float64
 17  drive_chain              15915 non-null  object
 18  co2_emission             15915 non-null  float64
 19  emission_class           15915 non-null  object
 20  comfort_convenience      14995 non-null  object
 21  entertainment_media      14541 non-null  object
 22  extras                   12953 non-null  object
 23  safety_security          14933 non-null  object
 24  gears                    15915 non-null  float64
 25  electricity_consumption  15915 non-null  int64
 26  year                     15915 non-null  float64
 27  new_used                 15915 non-null  object
 28  fuel_type                15915 non-null  object
 29  upholstery_material      11414 non-null  object
 30  consumption_comb         15915 non-null  float64
dtypes: float64(13), int64(3), object(15)
memory usage: 3.8+ MB

## Apply get_dummies method to object columns

In [4]:
object_columns = ['make_model', 'body_type', 'vat', 'new_used', 'body_color', 'paint_type', 
                  'gearing_type', 'drive_chain', 'fuel_type', 'emission_class']
df_dummied = pd.get_dummies(df, columns= object_columns, drop_first=True)

## Apply get_dummies method to columns extras, comfort_convenience, entertainment_media

In [5]:
df_E = df['extras'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [6]:
df_E.drop(columns = ['nan'], inplace=True)

In [7]:
df_C = df['comfort_convenience'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [8]:
df_C.drop(columns=['nan'], inplace=True)

In [9]:
df_ent = df['entertainment_media'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [10]:
df_ent.drop(columns=['nan'], inplace=True)

In [11]:
df_sec = df['safety_security'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [12]:
df_sec.drop(columns=['nan'], inplace=True)

## Drop columns with less 1's

In [13]:
df_E.sum()

'Alloy wheels'           11291
'Cab or rented Car'        310
'Catalytic Converter'     2258
'Handicapped enabled'       52
'Right hand drive'           3
'Roof rack'               2646
'Shift paddles'            508
'Ski bag'                  247
'Sliding door'               3
'Sport package'           1197
'Sport seats'             3098
'Sport suspension'        1618
'Touch screen'            4043
'Trailer hitch'            654
'Tuned car'                 13
'Voice Control'           4326
'Winter tyres'             246
dtype: int64

In [14]:
df_E.columns = df_E.columns.str.replace("'","").str.lower().str.replace(" ","_")

In [15]:
df_E.drop(["right_hand_drive","sliding_door","tuned_car","handicapped_enabled"], axis=1,inplace=True)

In [16]:
df_C.columns = df_C.columns.str.replace("'","").str.lower().str.replace(" ","_")

In [17]:
df_C.sum().sort_values(ascending=False)

air_conditioning                       14311
power_windows                          13910
electrical_side_mirrors                11879
multi-function_steering_wheel          11079
cruise_control                         10877
park_distance_control                  10188
parking_assist_system_sensors_rear      9693
leather_steering_wheel                  9383
start-stop_system                       8879
automatic_climate_control               8745
rain_sensor                             8612
navigation_system                       8164
light_sensor                            7670
armrest                                 7224
seat_heating                            7077
hill_holder                             6742
parking_assist_system_sensors_front     5838
parking_assist_system_camera            3421
lumbar_support                          3226
heated_steering_wheel                   3017
keyless_central_door_lock               2613
split_rear_seats                        2387
electrically_adjustable_seats           1866
tinted_windows                          1444
electric_tailgate                       1003
electrically_heated_windshield           937
seat_ventilation                         834
parking_assist_system_self-steering      768
heads-up_display                         606
panorama_roof                            551
sunroof                                  372
massage_seats                            360
auxiliary_heating                        266
air_suspension                            62
leather_seats                             48
wind_deflector                            41
windshield                                12
electric_starter                           1
dtype: int64

In [19]:
df_C.drop(columns=["electric_starter","windshield","wind_deflector", "air_suspension"], inplace=True)

In [20]:
df_ent.drop(columns=["'Television'"], inplace=True)
df_sec.drop(columns=["'Night view assist'"], inplace=True)

## Fill leather_seats column with upholstery_material column

In [21]:
index_leather = df_dummied[(df_dummied['upholstery_material']=='Part leather') \
           | (df_dummied['upholstery_material']=='Full leather') \
           | (df_dummied['upholstery_material']=='alcantara') \
           | (df_dummied['upholstery_material']=='Velour')]['upholstery_material'].index

In [22]:
df_C.loc[index_leather, 'leather_seats'] = 1

In [23]:
df_dummied.drop('upholstery_material',axis=1,inplace=True)

In [24]:
df_dummied.drop(columns=['comfort_convenience', 'safety_security', 'entertainment_media', 'extras'],inplace=True)

In [25]:
df_dummied.drop('drive_chain_rear', axis=1,inplace=True)

## Concat all dummy dataframes

In [26]:
df_last = pd.concat([df_dummied, df_E, df_C, df_ent, df_sec], axis = 1)

In [27]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Columns: 140 entries, price to 'Xenon headlights'
dtypes: float64(13), int64(87), uint8(40)
memory usage: 12.7 MB

In [30]:
df_last.isnull().sum().sum()

0

In [31]:
df_last.to_csv('auto_scout_final_D1366_Necip_Ozfidan.csv', index=False)